@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/black.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(230, 220, 208);
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.link-box {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.link-box a {
  color: rgb(231, 223, 237);
  text-decoration: none;
  font-size: 2rem;
}

.link-box a:hover {
  text-decoration: underline;
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #efe7e7;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-title {
  font-size: 2rem;
  font-family: "Monoton", sans-serif;
  margin-bottom: 1rem;
}

.summary-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.summary-image {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5rem;
  border: #f9f9f9 solid;
}

.summary-text {
  font-size: 1rem;
  color: #333;
  font-family: "Quicksand", sans-serif;
  text-align: justify;
}

.App {
  display: flex;
  margin: 0; /* Ensure no margin on the body or container */
  padding: 0; /* Ensure no padding on the body or container */
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  margin-left: 200px; /* Ensure the content starts right after the navbar */
  padding: 2rem;
  width: calc(100% - 200px);
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.skills-container {
  font-family: "Quicksand", sans-serif;
  background-color: #efe7e7;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.skills {
  width: 100%;
  padding-left: 10%;
  display: flex;
}
.skills-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Monoton", sans-serif;
  margin-bottom: 1rem;
}
.skills-section {
  padding: 0.5%;
  margin: 0.5%;
  width: 20%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skills-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
h3 {
  padding-left: 10%;
}

.skill-icon {
  color: rgb(80, 228, 191);
}
.education-work-container {
  background-color: #efe7e7;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.collage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between items */
  justify-content: center; /* Center the items horizontally */
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.collage-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.collage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(
    33.33% - 20px
  ); /* Adjust the percentage to control the number of items per row */
  max-width: calc(
    33.33% - 20px
  ); /* Adjust the max-width to match the width property */
  background-color: rgb(242, 218, 218); /* Background color for each item */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Shadow effect */
  overflow: hidden; /* Ensure content does not overflow */
  padding: 10px; /* Padding inside each item */
  box-sizing: border-box; /* Include padding in the width and height */
}

.collage-item img {
  width: 100%; /* Make the image take the full width of the container */
  height: 80%; /* Maintain the aspect ratio */
  border-radius: 10px; /* Rounded corners */
  object-fit: cover; /* To maintain aspect ratio and cover the entire box */
}

.collage-item h5 {
  margin: 10px 0 0 0; /* Margin for the text */
  font-size: 1em; /* Font size for the text */
  text-align: center; /* Center the text */
}

.collage-item ul {
  display: flex;
  list-style-type: none; /* Remove bullets */
  padding: 10px; /* Padding inside the list */
  width: 100%; /* Make the list take the full width of the container */
  box-sizing: border-box; /* Include padding in the width */
  margin: 10px 0; /* Margin for spacing */
  object-fit: cover;
  flex-wrap: wrap;
}

.collage-item ul li {
  border: 1px solid #ddd; /* Border for each list item */
  padding: 10px; /* Padding for each list item */
  margin: 0 5px; /* Margin between list items */
  border-radius: 5px; /* Rounded corners for each list item */
  flex: 1; /* Allow list items to grow equally */
  text-align: center; /* Center the text in each list item */
  background-color: hsl(186, 14%, 86%); /* Background color for each item */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Shadow effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collage-item li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.selectedProject {
  width: 70%;
  margin: auto; /* Center the component horizontally */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Shadow effect */
  background-color: rgb(242, 218, 218); /* Background color for the component */
  position: relative; /* To position the button inside this component */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 90vh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.selectedProject img {
  width: 90%; /* Make the image take the full width of the container */
  border-radius: 10px; /* Rounded corners */
  object-fit: cover; /* To maintain aspect ratio and cover the entire box */
  margin-bottom: 10px; /* Space between the image and the title */
}

.selectedProject h3 {
  margin: 10px 0; /* Margin for the text */
  font-size: 2em; /* Font size for the text */
  text-align: center; /* Center the text */
}

.selectedProject ul {
  display: flex;
  list-style-type: none; /* Remove bullets */
  padding: 10px; /* Padding inside the list */
  width: 100%; /* Make the list take the full width of the container */
  box-sizing: border-box; /* Include padding in the width */
  margin: 10px 0; /* Margin for spacing */
  flex-wrap: wrap;
  justify-content: center; /* Center the list items */
}

.tech {
  border: 1px solid #ddd; /* Border for each list item */
  padding: 10px; /* Padding for each list item */
  margin: 5px; /* Margin between list items */
  border-radius: 5px; /* Rounded corners for each list item */
  flex: 0 1 calc(33.33% - 10px); /* Allow list items to grow equally */
  text-align: center; /* Center the text in each list item */
  background-color: hsl(186, 14%, 86%); /* Background color for each item */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Shadow effect */
}

.close-button:hover {
  color: red; /* Change color on hover for close button */
}
/* Modal styles */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgb(242, 218, 218);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 70%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

@media (max-width: 991.98px) {
  .content {
    margin-left: 0;
    width: 100%;
  }

  .summary-details {
    flex-direction: column;
    align-items: center;
  }

  .summary-image {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .collage-item {
    flex: 1 1 calc(50% - 10px); /* Two items per row on smaller screens */
    max-width: calc(50% - 10px);
  }
}
