body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.intro {
  position: relative;
  width: 100%;
  height: 20em;
  background-image: url("../public/images/introbox.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(20, 12, 12);
  padding: 1rem;
  box-sizing: border-box;
}

.link-box {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.link-box a {
  color: rgb(99, 101, 206);
  text-decoration: none;
  font-size: 1.5rem;
}

.link-box a:hover {
  text-decoration: underline;
}

.summary-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 75%;
  padding-left: 10%;
}

.summary-image {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image rounded */
  margin-right: 1rem; /* Space between image and text */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.summary-text {
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #333; /* Text color */
  font-family: Arial, sans-serif;
}
